@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>About Chordious Web</h2>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            Chordious Web is built using the core functionality of the <a href="http://chordious.com/" target="_blank">Chordious Application</a>
            written by Jon Thysell.  This version does not contain the full functionality of that application.
        </p>
        <p>
            I highly recommend that you download the full free version of Chordious at: <a href="http://chordious.com/" target="_blank">http://chordious.com/</a> 
            Versions are available for Windows, Mac OSX, and Linux. The full souce code is also available for download as well.
        </p>
        <p>
            Please keep in mind that both Chordious and Chordious Web build chord diagrams based upon the rules of music theory.  The application may generate
            some chord shapes that are theoretically correct, but are not finger friendly.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr />
        <h3>What's New?</h3>
        <hr />
        <ul>
            <li>
                April 12, 2015
                <ul>
                    <li>Added some new links</li>
                    <li>Added the source to GitHub</li>
                </ul>
            </li>
            <li>
                January 19, 2015
                <ul>
                    <li>Added additional links for music theory.</li>
                    <li>Added some new chord qualities:
                        <ul>
                            <li>Augmented Major 7th</li>
                            <li>Augmented 7th</li>
                            <li>Half-Diminished 7th</li>
                            <li>Diminished 7th</li>
                        </ul>
                    </li>
                    <li>Modified the symbols in the chord qualities:
                        <ul>
                            <li>+ - Augmented</li>
                            <li>° - Diminished</li>
                            <li>ø - Half-Diminished</li>
                            <li>mM7 - Minor/Major 7th</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                January 8, 2015
                <ul>
                    <li>Minor modification to the chord families page.  Fixed some table information.</li>
                    <li>Added Blues Scale to the chord families page.</li>
                    <li>Added a few more links.</li>
                </ul>
            </li>
            <li>
                January 3, 2015
                <ul>
                    <li>Added a new page chord families. (Major and Relative Minor keys.  Blues keys to follow soon.)</li>
                    <li>Added a new page for links to other websites.</li>
                    <li>Removed "Home" from the menu since it takes you to the same screen as the "Chordious Web" menu item does.</li>
                    <li>Added the D, A, Eb, Ab tuning to Ukulele.</li>
                    <li>Updated the FAQ's page.</li>
                </ul>
            </li>
            <li>
                December 30, 2014
                <ul>
                    <li>Added a new page with strumming patterns.</li>
                </ul>
            </li>
            <li>
                December 24, 2014
                <ul>
                    <li>Added Cavaquinho to instruments and five common tunings for it.</li>
                    <li>Added 5-String Bass Guitar to instruments and five common tunings for it.</li>
                    <li>Added 6-String Bass Guitar to instruments and three common tunings for it.</li>
                    <li>Split Bass Guitar / U-Bass into two different instruments to avoid confusion.
                        <ul>
                            <li>4-String Bass Guitar</li>
                            <li>U-Bass</li>
                        </ul>
                    </li>
                    <li>Put the instruments in alphabetical order.</li>
                </ul>
            </li>
            <li>
                December 21, 2014
                <ul>
                    <li>Updated the FAQ page.</li>
                    <li>Updated the "How To Use" page to include some instructions for saving chord diagrams.</li>
                    <li>Added "Bass Guitar / U-Bass" to the instruments and seven common tunings for it.</li>
                </ul>
            </li>
            <li>
                December 18, 2014
                <ul>
                    <li>Added "What's New" to the About page.</li>
                    <li>Updated the FAQ page.</li>
                    <li>Added a separate "Baritone Ukulele" to the instruments list and three common tunings for it.</li>
                </ul>
            </li>
            <li>December 14, 2014 
                <ul>
                    <li>Initial Release.</li>
                </ul> 
            </li>
        </ul>
    </div>
</div>

