@{
    ViewBag.Title = "Contact Us";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<div>
    <p>Have a question about Chordious Web?</p>
    <p>Have a suggestion for a future version of Chordious Web?</p>
    <p>Have an instrument that you would like to see in the list?</p>
    <p>Have additional tunings for a particular instrument?</p>
    <p>Have additional links to share on the links page?</p>
    <p>Is there a broken link on the links page?</p>
    <p>Have you found an error?</p>
    <br /><br />
    <p>I would love to hear from you!</p>
</div>

<address>
    <strong>e-Mail:</strong>   <a href="mailto:lloydaz@cox.net?subject=Chordious Web">LloydAZ@cox.net</a><br />
</address>