@{
    ViewBag.Title = "Links";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>Below are a few sites that you may find helpful.  If there are other sites that you think should be added to this list, 
        or if there are any broken links, please <a href="mailto:lloydaz@cox.net?subject=Chordious Web Links">Contact Me</a> and let me know.</p>
        <hr />
        <h3>General</h3>
        <hr />
        <p><a href="http://chordious.com" target="_blank">Chordious - The original full version of the application</a></p>
        <p><a href="http://www.frettedfriendsmusic.com" target="_blank">Fretted Friends Music</a></p>
        <p><a href="http://www.fretboard-toolbox.com" target="_blank">Fretboard Toolbox</a></p>
        <p><a href="http://frets.com/FretsPages/pagelist.html" target="_blank">Frets</a></p>
        <p><a href="http://www.chordsongs.net/index.html" target="_blank">Chord Songs</a></p>
        <p><a href="http://chordgen.rattree.co.uk/" target="_blank">Theo's Chord Generator</a></p>
        <p><a href="http://www.ibreathemusic.com" target="_blank">iBreatheMusic.com</a></p>
        <p><a href="http://www.jazclass.aust.com" target="_blank">jazz Class</a></p>
        <p><a href="http://www.pluck-n-play.com/en/index.html" target="_blank">Chord Scale Generator</a></p>
        <p><a href="http://www.musicianshealth.com" target="_blank">Musicians Health</a></p>
        <hr />
        <h3>Music Theory</h3>
        <hr />
        <p><a href="http://www.lenmus.org/mws/noticias" target="_blank">Lenmus Phonascus - Open Software for Music Theory</a></p>
        <p><a href="http://www.musictheory.net" target="_blank">MusicTheory.Net</a></p>
        <p><a href="https://www.youtube.com/watch?v=6gHEIF0rT2w" target="_blank">Learn Free Music Theory</a></p>
        <p><a href="http://www.theorylessons.com/index.php" target="_blank">Music Theory Lessons, Guitar Lessons, Bass Lessons</a></p>
        <p><a href="http://www.opusmusicworksheets.com" target="_blank">Opus Music Worksheets</a></p>
        <p><a href="http://www.musictechteacher.com/index.htm" target="_blank">Music Tech Teacher</a></p>
        <hr />
        <h3>Stores</h3>
        <hr />
        <p><a href="http://empiremusic.net" target="_blank">Empire Music</a></p>
        <p><a href="http://www.guitarcenter.com" target="_blank">Guitar Center</a></p>
        <p><a href="http://www.samash.com" target="_blank">Sam Ash</a></p>
        <p><a href="http://www.theukulelesite.com" target="_blank">Hawaii Music Supply</a></p>
        <p><a href="http://www.bonanza.com/booths/mandolinbabes" target="_blank">Mandolin Babe's Pickin Parlour</a></p>
        <hr />
        <h3>Magazines</h3>
        <hr />
        <p><a href="http://www.acousticguitar.com" target="_blank">Acoustic Guitar Magazine</a></p>
        <p><a href="http://www.ukulelerhythms.com" target="_blank">Ukulele Rhythms Magazine</a></p>
        <p><a href="http://www.ukulelemag.com" target="_blank">Ukulele Magazine</a></p>
        <p><a href="http://www.fretboardjournal.com" target="_blank">Fretboard Journal</a></p>
        <p><a href="http://www.bmgmagazine.net/index.html" target="_blank">BMG Magazine</a></p>
        <p><a href="http://www.mandozine.com" target="_blank">Mandozine</a></p>
        <h3>Ukulele</h3>
        <hr />
        <p><a href="http://theukuleleway.com" target="_blank">The Ukulele Way</a></p>
        <p><a href="http://ukuleleunderground.com" target="_blank">Ukulele Underground</a></p>
        <p><a href="http://www.jameshillmusic.com" target="_blank">James Hill Music</a></p>
        <p><a href="http://www.ukulele-tabs.com" target="_blank">Ukulele Tabs</a></p>
        <p><a href="http://www.ukuleleintheclassroom.com" target="_blank">Ukulele in the Classroom</a></p>
        <p><a href="http://ukegeeks.com" target="_blank">Uke Geeks</a></p>
        <p><a href="http://liveukulele.com" target="_blank">LiveUkulele.com</a></p>
        <hr />
        <h3>Guitar</h3>
        <p><a href="http://www.guitarmasterclass.net/" target="_blank">GuitarMasterClass.net</a></p>
        <p><a href="http://www.ultimate-guitar.com" target="_blank">Ultimate Guitar</a></p>
        <p><a href="http://www.acousticguitarforum.com" target="_blank">Acoustic Guitar Forum</a></p>
        <p><a href="http://guitar.davidsouthwick.net" target="_blank">David Southwick's Guitar Chord Theory</a></p>
        <hr />
        <h3>Mandolin</h3>
        <p><a href="http://www.mandolincafe.com" target="_blank">Mandolin Cafe</a></p>
        <hr />
        <h3>Banjo</h3>
        <hr />
        <p><a href="http://www.banjohangout.org" target="_blank">Banjo Hangout</a></p>
        <p></p>
    </div>
</div>
